@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    background: url(./Images/3418100.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
background: #213047;
width: 400px;
height: 175px;
margin: 100px auto;
position: relative;
padding: 30px;
border-radius: 10px;
}


.badge{
    text-align: center;
    color: #ffffff;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    top: 30vh;
    left: 46%;
    position: absolute;
    border-radius: 8px;
}

.clock{
    background: #00cbf4;
    font-size: 55px;
    text-align: center;
    height: 100%;
    padding-top: 25px;
    font-family: orbitron;
    border-radius: 30px;
}
